#navbar{
    height: 9vh;
    position: relative;
    z-index: 5;
    background: #40757d;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* @hmmmm: hmmm */
    box-shadow: 0 4px 5px rgba(0,0,0,.6);
}
#crash-nav-logo{
    width: 85px;
    margin-top: 5px;
}

.nav-vr {
    border: 1px solid #f7f7f7;
    margin: 0 15px;
    padding: 2.5vh 0;
}
#navbar-start-content{
    display: flex;
    align-items: center;
}
/* Information Modal Button */
#crash-map-nav-info-btn {
    color: #f6efee;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background: #40757d;
    font-size: 1rem;
    padding: 6px 8px;
    cursor: pointer;
    letter-spacing: 1px;
}
#crash-map-nav-info-btn:hover {
    text-decoration: underline;
}

/* Media Queries */
@media all and (max-width: 800px) {
    #navbar {
        margin-bottom: 0;
        padding: 5px 10px;
        height: 6vh;
    }
    #crash-nav-logo{
        width: 50px
    }
    .nav-vr{
        margin: 0 5px;
        padding: 1.8vh 0;
    }
    #crash-map-nav-info-btn{
        font-size: 0.7rem;
        padding: 2px 3px;
    }
    #search-by-label, #search-form select, #search-form input{
        font-size: 10px;
    }
    #search-by-label{
        margin-right: 4px;
    }
}