#navbar{
    height: 8vh;
    background: #424b54;
    padding: 0 1vw;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#crash-map-nav-home{
    color: #f6efee;
    text-decoration: none;
    margin-right: 20px;
}

/* Information MOdeal */
#crash-map-nav-info-btn {
    color: #f6efee;
    /* border: 2px solid #f6efee; */
    border-color: #f6efee;
    border-radius: 50%;
    background: none;
    font-size: 1rem;
    font-weight: 900;
    padding: 2px 9px;
}
#crash-map-nav-info-btn:hover {
    cursor: pointer;
    background: #f6efee;
    color: #424b54;
}
#crash-map-modal{
    width: calc(85% - 200px);
    padding: 0;
    z-index: 5;
    margin: 5% auto 0 auto;
    box-shadow: 0 0 100vh 100vh rgba(0,0,0,0.6);
    border-color: #424b54;
    border-radius: 3px;
}
#crash-map-modal-x{
    font-size: 1.2rem;
    float: right;
    border: none;
    background: transparent;
    font-weight: 900;
    color: #f6efee;
}
#crash-map-modal-x:hover, #crash-map-modal-tabs:hover{
    cursor: pointer;
}
#crash-map-modal h2{
    text-align: center;
    color: #f6efee;
    background: #424b54;
    padding: 15px 0;
}
#crash-map-modal-tabs{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    margin-top: 15px;
}
#crash-map-modal-active-tab{
    color: #424b54;
    font-weight: 900 !important;
    border-left: 1px solid #424b54;
    border-right: 1px solid #424b54;
    border-top: 1px solid #424b54;
    border-bottom: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#crash-map-modal-tabs h3{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #424b54;
}
#crash-map-modal-content{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}


/* Media Queries */
@media all and (max-width: 800px) {
    #navbar {
        margin-bottom: 0;
        padding: 5px 10px;
    }
}