.footer {
    display: flex;
    justify-content: space-around;
    color: #f6efee;
    background: #171a21;
    width: 100%;
    margin-left: -3%;
    margin-top: 3%;
    padding: 7% 5%;
}
.footer a {
    color: unset;
}
  
/*media queries*/
@media screen and (max-width: 880px) {
    .footer{
        font-size: 0.8rem;
        width: 97%;
        margin-left: -3%;
        padding: 7% 4%;
    }
}