.footer {
    display: flex;
    color: white;
    background: #333333;
    /* this is a bad way to get over the sidebar padding and force full width @TODO do this better  */
    width: 103%;
    margin-left: -3%;
    padding: 3%;
}
.footer a {
    color: unset;
}
  
/*media queries*/
@media screen and (max-width: 880px) {
    .footer{
        font-size: 0.8rem;
    }
}