#crash-map-content-wrapper{
    display: flex;
    position: relative;
    height: 93vh;
}

/* Media queries */
@media all and (max-width: 800px) {
    #crash-map-container {
        overflow: hidden;
    }
    #crash-map-content-wrapper {
        flex-direction: column-reverse;
        height: calc(97vh - 10px);
    }
}

@media print {
    #crash-map-content-wrapper{
        display: none;
    }
}