#crash-map-content-wrapper{
    display: flex;
    position: relative;
    height: 93vh;
}

/* Media queries */
@media all and (max-width: 800px) {
    #crash-map-content-wrapper {
        height: calc(96vh + 10px);
        flex-direction: column-reverse;
    }
}

@media print {
    #crash-map-content-wrapper{
        display: none;
    }
}