/* General Element Selectors */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #171a21;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
strong{
  color: #f4a22d;
}
select, input {
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
select {
  padding: 3px 6px;
}


/* General Class Selectors */
.centered-text{
  text-align: center;
}
.shadow{
  box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}
.hidden{
  display: none;
}



/* Media Queries */
@media all and (max-width: 800px) {
  body{
    font-size: 12px;
  }
}

/* Print Queries */
@media print {
  .no-print{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}