/* General Element Selectors */
* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #171a21;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
summary, select, input{
  cursor: pointer
}
select, input {
  border-radius: 3px;
  border: none;
}
select {
  padding: 6px 3px;
}
p{
  max-width: 75ch;
}


/* General Class Selectors */
.centered-text{
  text-align: center;
}
.shadow{
  box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}
.hidden{
  display: none;
}
.hover-btn:hover{
  box-shadow: 0.5px 1px 1.5px rgba(0,0,0,0.2);
}


/* Media Queries */
@media all and (max-width: 800px) {
  body{
    font-size: 12px;
  }
}

/* Print Queries */
@media print {
  .no-print{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}