#crash-map-modal{
    position: absolute;
    z-index: 15;
    overflow-x: auto;
    height: 85vh;
    width: 800px;
    top: 7.5vh;
    left: 50%;
    right: auto;
    margin-left: -400px;
    padding: 0;
    z-index: 5;
    background-color: #f7f7f7;
    box-shadow: 0 0 100vh 100vh rgba(0,0,0,0.6);
    border: 3px solid #40757d;
    border-radius: 3px;
    display: none;
    font-size: 1rem;
}
#crash-map-modal a{
    color: #40757d;
}
#crash-map-modal h4, #crash-map-modal strong{
    color: #40757d;
}
#crash-map-modal h4{
    font-size: 1rem;
}
.crash-map-modal-category-list{
    margin-top: 1%;
}
#crash-map-modal-x{
    font-size: 1.2rem;
    float: right;
    padding-top: 5px;
    padding-right: 15px;
    border: none;
    background: transparent;
    font-weight: 900;
    color: #f6efee;
}
#crash-map-modal-x, #crash-map-modal-tabs{
    cursor: pointer;
}
#crash-map-modal h2{
    color: #f6efee;
    background: #40757d;
    padding: 15px 0 15px 7.5%;
}
#crash-map-modal ul{
    list-style-type: none;
    padding: 0;
}
#crash-map-modal li{
    margin-bottom: 2%;
}
.crash-map-modal-summary{
    cursor: pointer
}
#crash-map-modal-tabs{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    margin-top: 15px;
}
.crash-map-modal-active-tab{
    cursor: initial;
    color: #40757d;
    font-weight: 900 !important;
    border-left: 1px solid #424b54;
    border-right: 1px solid #424b54;
    border-top: 2px solid #424b54;
    border-bottom: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#crash-map-modal-tabs h3{
    width: 33.33%;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #424b54;
}
#crash-map-modal-content{
    width: 85%;
    max-width: 75ch;
    margin: 0 auto;
    padding: 15px 0;
}
#crash-map-modal-content p{
    margin: 1% 0;
}
#crash-map-modal-hr{
    margin: 2% 0;
}


/* Media Queries */
@media all and (max-width: 900px) {
    #crash-map-modal{
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        left: auto;
    }
    #crash-map-modal-content, #crash-map-modal-tabs{
        width: 88%;
    }
}