#crash-map-modal{
    position: absolute;
    width: 800px;
    top: 15px;
    left: 50%;
    right: auto;
    margin-left: -400px;
    padding: 0;
    z-index: 5;
    background-color: #f7f7f7;
    box-shadow: 0 0 100vh 100vh rgba(0,0,0,0.6);
    border: 3px solid #437b82;
    border-radius: 3px;
    display: none;
}
#crash-map-modal-x{
    font-size: 1.2rem;
    float: right;
    border: none;
    background: transparent;
    font-weight: 900;
    color: #f6efee;
}
#crash-map-modal-x, #crash-map-modal-tabs{
    cursor: pointer;
}
#crash-map-modal h2{
    color: #f6efee;
    background: #437b82;
    padding: 15px 0 15px 7.5%;
}
#crash-map-modal ul{
    list-style-type: none;
    padding: 0;
}
#crash-map-modal li{
    margin-bottom: 1%;
}
#crash-map-modal-tabs{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    margin-top: 20px;
}
.crash-map-modal-active-tab{
    color: #437b82;
    font-weight: 900 !important;
    border-left: 1px solid #424b54;
    border-right: 1px solid #424b54;
    border-top: 2px solid #424b54;
    border-bottom: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#crash-map-modal-tabs h3{
    width: 33.33%;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #424b54;
}
#crash-map-modal-content{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}
#crash-map-modal-content p{
    margin: 1% 0;
}
#crash-map-modal-hr{
    margin: 2% 0;
}


/* Media Queries */
@media all and (max-width: 900px) {
    #crash-map-modal{
        width: 100%;
        top: 0;
        right: 0;
        left: auto;
    }
}