#crashMap{
    width: 65vw;
    height: 100%;
}
#legend{
    width: 20%;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #f7f7f7;
    position: absolute;
    z-index: 2;
}
#legend-header{
    margin: 0;
}
.mapboxgl-ctrl-group{
    background: #f7f7f7;
}

/* Legend */
#legend-gradient{
    display: block;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #f7f7f7 1%, #4ba3c3, #6eb5cf, #93c7db, #e67e88, #de5260, #d62839);
}
.legend-text{
    display: flex;
    justify-content: space-between;
}

/* Popups */
.crash-popup-header{
    text-align: center;
}