#crashMap{
    width: 100%;
    height: 100%;
}
.mapboxgl-ctrl-group{
    background: #f7f7f7;
    box-shadow: 2.4px 2.4px 3.2px rgba(0, 0, 0, 0.15) !important; /* override mapbox shadow */
}
.overlays{
    z-index: 2;
    position: absolute;
    background: #f7f7f7;
    border-radius: 4px;
}


/* Legend */
#legend{
    min-width: 12%;
    margin: 10px;
    padding: 8px;
    left: calc(31vw + 12px);
}
.legend-header{
    margin: 0;
}
#legend-gradient{
    display: block;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #feebe2, #fcc5c0, #c51b8a, #7a0177);
}
#legend-text{
    display: flex;
    justify-content: space-between;
}


/* Hovered Geography Overlay */
#hoveredArea {
    visibility: hidden;
    margin: 10px auto 0 50%;
    padding: 6px 8px;
}
#hoveredArea, #remove-boundary-btn {
    right: calc(70vw / 3);
}

/* Default Extent Control Overlay */
#default-extent-btn {
    height: 20px;
    width: 20px;
    margin: 145px 10px 0 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    box-shadow: 2.4px 2.4px 3.2px rgba(0, 0, 0, 0.15);
}
#default-extent-img {
    height: 100%;
}


/* Remove Boundary Overlay */
#remove-boundary-btn {
    font-weight: 500;
    top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#remove-boundary-x {
    font-weight: 800;
    color: #FAA82D;
    margin-left: 3px;
}

/* Popups */
.mapboxgl-popup {
    max-width: 45%;
    z-index: 2;
}
.mapboxgl-popup-content {
    font-size: 0.88rem;
    padding: 20px 12px;
    box-shadow: 2.4px 2.4px 3.2px rgba(0, 0, 0, 0.15);
    min-width: 275px;
    border-radius: 4px;
}
.mapboxgl-popup-close-button {
    font-size: 1.2rem;
    font-weight: 800;
    color: #f7f7f7;
}

.crash-popup-header {
	text-align: center;
	margin: -20px -12px 5px -12px;
	padding: 24px 12px 10px 12px;
	background: #307f88;
	color: #f7f7f7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#crash-popup-ul {
    list-style-type: none;
    padding: 4px 0;
}
#crash-popup-ul li{
    margin-bottom: 0.4rem;
}
#crash-popup-pagination {
	display: flex;
	justify-content: space-around;
	color: #414770;
	text-align: center;
	width: 70%;
	margin: 0 auto -5px auto;
	width: 100%;
	margin: 0px -12px -20px;
	padding: 10px 12px;
	border-top: 3px solid #f7f7f7;
	color: #0b1415;
}
#crash-popup-pagination button {
	border: none;
	background: inherit;
	font-size: 0.9rem;
	cursor: pointer;
	padding: 2px 12px 4px 12px;
	background: #FAA82D;
	border-radius: 4px;
	color: #f7f7f7;
    font-weight: 700;
}

/* Media Queries */
@media all and (max-width: 800px) {
    #crashMap {
        width: 100%;
        height: 55%;
        font-size: 10px;
    }
    #legend{
        padding: 1px 6px;
        font-size: 8px;
        left: 0;
    }
    #legend-gradient{
        height: 10px;
        margin-top: 5px;
    }
    .mapboxgl-ctrl-group > button {
        width: 25px;
        height: 25px;
    }
    #default-extent-btn {
        width: 15px;
        height: 15px;
        margin-top: 130px;
    }
    #remove-boundary-btn{
        font-size: 10px;
        padding: 7px 8px;
    }
}