#crashMap{
    width: 65vw;
    height: 100%;
}
.mapboxgl-ctrl-group{
    background: #f7f7f7;
}
.overlays{
    z-index: 2;
    position: absolute;
    background: #f7f7f7;
    border-radius: 3px;
}


/* Legend */
#legend{
    min-width: 20%;
    margin: 10px;
    padding: 8px;
}
.legend-header{
    margin: 0;
}
#legend-gradient{
    display: block;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #f8f8fe, #bbbdf6, #414770, #372248);
}
#legend-text{
    display: flex;
    justify-content: space-between;
}


/* Hovered Geography Overlay */
#hoveredArea{
    visibility: hidden;
    margin: 10px auto 0 50%;
    padding: 6px 8px;
}

/* Default Extent Control Overlay */
#default-extent-btn{
    height: 20px;
    width: 20px;
    margin: 150px 10px 0 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}
#default-extent-img{
    height: 100%;
}


/* Remove Boundary Overlay */
#remove-boundary-btn{
    font-weight: 500;
    top: 10px;
    left: calc(50% - 33px);
    right: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#remove-boundary-x{
    font-weight: 800;
    color: #f4a22d;
    margin-left: 3px;
}

/* Popups */
.mapboxgl-popup{
    max-width: 45%;
    z-index: 2;
}
.mapboxgl-popup-content{
    font-size: 0.88rem;
    padding: 20px 12px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}
.mapboxgl-popup-close-button{
    font-size: 1.2rem;
    font-weight: 800;
    color: #f7f7f7;
}

.crash-popup-header {
	text-align: center;
	margin: -20px -12px 5px -12px;
	padding: 24px 12px 10px 12px;
	background: #437b82;
	color: #f7f7f7;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#crash-popup-ul{
    list-style-type: none;
    padding: 4px 0;
}
#crash-popup-ul li{
    margin-bottom: 0.4rem;
}
#crash-popup-pagination {
	display: flex;
	justify-content: space-around;
	color: #414770;
	text-align: center;
	width: 70%;
	margin: 0 auto -5px auto;
	width: 100%;
	margin: 0px -12px -20px;
	padding: 10px 12px;
	border-top: 3px solid #f7f7f7;
	color: #171a21;
}
#crash-popup-pagination button {
	border: none;
	background: inherit;
	font-size: 0.9rem;
	cursor: pointer;
	padding: 2px 12px 4px 12px;
	background: #f4a22d;
	border-radius: 3px;
	color: #f7f7f7;
}

/* Media Queries */
@media all and (max-width: 800px) {
    #crashMap {
        width: 100%;
        height: 60%;
        font-size: 10px;
    }
    #legend{
        padding: 1px 6px;
        font-size: 8px;
    }
    #legend-gradient{
        height: 10px;
        margin-top: 5px;
    }
    .mapboxgl-ctrl-group > button {
        width: 25px;
        height: 25px;
    }
    #default-extent-btn {
        width: 15px;
        height: 15px;
        margin-top: 130px;
    }
    #remove-boundary-btn{
        font-size: 10px;
        padding: 7px 8px;
    }
}