.geocoder-pin-right{
    display: none;
}
.geocoder-icon{
    display: none;
}
.suggestions{
    display: flex;
}
#search-form{
    color: #f6efee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form-select, #search-form-address {
    margin-right: 10px;
}
#select-search-type{
    margin-left: 10px;
}
.search-form-fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
#search-form input {
    padding: 6px 8px;
}
.search-form-submit{
    color: #1d0029;
    background: #f4a22d;
}
#search-form-address {
    background: #fff;
    color: initial;
}


/* Media Queries */
@media all and (max-width: 800px) {
    #search-by-label, .search-form-select, #search-form-address {
        margin-right: 5px;
    }
    #select-search-type{
        margin-left: 5px;
    }
    .search-form-fieldset{
        display: flex;
        align-items: center;
    }
    .search-form-submit{
        padding: 4px 0;
        width: 45px;
    }
    .search-form-select, #search-form-address{
        width: 65px;
    }
}