/* General */
#sidebar-wrapper {
    position: absolute;
    padding: 1px 1px 0 0;
    font-size: 14px;
    width: 33vw;
    height: calc(93vh - 20px);
    border-radius: 3px;
    z-index: 4;
    top: 10px;
    left: 10px;
    background: #f7f7f7;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}
#sidebar{
    padding: 0 20px;
    border-bottom-left-radius: 3px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#sidebar strong {
    color: #40757d;
}

/* Modified with credit to: https://stijndewitt.com/2018/06/12/pure-css-drop-shadow-on-scroll/*/
#crash-map-sidebar-header {
    height: 90px;  /* 74 + 16px */
    width: 110%;
    margin-left: -5%;
    position: sticky;
    -webkit-position: sticky;
    background: #f7f7f7;
    /* negative top allows for 16 pixels of movement before sticking */
    top: -16px;
    /* make sure header overlaps main*/
    z-index: 1;
    text-align: center;
    /* fix weird flickering issue in chrome: https://stackoverflow.com/a/22224884/286685 */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* PSEUDO ELEMENTS to create drop-shadow */
#crash-map-sidebar-header::before,
#crash-map-sidebar-header::after {
    content: '';
    display: block;
    height: 16px;
    /* make pseudo elements sticky as well */
    position: sticky;
    -webkit-position: sticky;
}
/* SHADOW */
#crash-map-sidebar-header::before {
    top: 58px; /* shadow is at bottom of element, so at 58 + 16 = 74px */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
/* COVER */
#crash-map-sidebar-header::after {
    /* linear gradient from background color to transparent acts as
    a transition effect so the shadow appears gradually */
    background: linear-gradient(#f7f7f7 10%, rgba(247,247,247,0.7) 50%, rgba(247,247,247,0.3) 70%, transparent);
    top: 0;
    /* cover should fall over shadow */
    z-index: 2;
}
/* #crash-map-sidebar-header CONTENT */
#crash-map-sidebar-header >div {
    background: #f7f7f7;
    height: 53px;
    padding: 10px 20px 15px 20px;
    position: sticky;
    -webkit-position: sticky;
    top: 0px;
    /* compensate for shadow with negative margin */
    margin-top: -24px;
    /* content should fall over shadow and cover */
    z-index: 3;
}

#crash-map-sidebar-header >div h1 {
    margin: 0;
    line-height: 1.25;
}
/* END Credit */

#crash-map-sidebar-header-main {
    display: block;
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
}
#crash-map-sidebar-header-area {
    font-size: 0.8em;
    font-weight: 400;
}
#crash-map-sidebar-header, .crash-map-sidebar-subheader{
    color: #40757d;
}

#sidebar-hr{
    border: 0;
    border-top: 1px solid #ddd;
    height: 0;
    box-sizing: content-box;
    clear: both;
    margin: 2% 0;
}
.crash-map-sidebar-subheader{
    font-size: 1.2rem;
    margin-top: 15%;
}
#first-subheader{
    margin-top: 3.5%;
}
#crash-map-print-sidebar{
    display: flex;
    align-items: center;
    padding: 0 3%;
    text-decoration: underline;
    cursor: pointer;
    color: #40757d;
}
#crash-map-print-icon {
    height: 16px;
    margin-right: 6px;
}
.chartjs-render-monitor {
    background: white;
    border: 2px inset rgb(203, 203, 203);
    border-radius: 3px;
}
/* handle custom padding per chart type */
#trend-chart {
    padding: 25px 10px 0 2px;
}
#severity-chart {
    padding: 25px 10px 15px 2px;
}
#trend-chart, #severity-chart {
    width: calc(100% - 12px) !important;
}
#mode-chart, #collision-chart {
    padding: 20px 0;
}
.first-paragraph{
    margin: 2% 0;
}
.sidebar-paragraphs {
    margin-top: 10px;
}
#crash-map-sidebar-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#crash-map-sidebar-ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px dotted #414770;
}
#crash-map-sidebar-ul:last-child{
    border-bottom: none;
}


/* Chart Form */
.crash-map-charts-form{
    margin-top: 3%;
}
.crash-map-charts-fieldset{
    background: #fcfcfc;
    border: 2px solid #f4a22d;
    border-radius: 3px;
}
.crash-map-fieldset-subgroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.crash-map-label-subgroup{
    width: 80%;
}
.crash-map-first-input{
    margin-right: 4%;
}
.crash-map-input {
    margin-left: 6px;
}
.crash-sidebar-toggle-button{
    float: right;
    border: none;
    border-radius: 3px;
    background: #f7f7f7;
    color: #40757d;
    padding: 8px 16px;
    margin-top: -7px;
    cursor: pointer;
    box-shadow: 0.5px 1px 1.5px rgba(0,0,0,.3);
}
.crash-sidebar-toggle-button:hover {
    filter: brightness(110%);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.crash-sidebar-toggle-button:active {
    box-shadow: none;
    border: 2px #f7f7f7 inset;
}

/* Media Queries */
@media all and (max-width: 800px) {
    #sidebar-wrapper {
        position: initial;
        width: 100%;
        height: 45%;
        box-shadow: none;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    #sidebar{
        padding: 0 10px;
        border-radius: 0;
    }
    #crash-map-sidebar-header {
        height: 80px;
    }
    #crash-map-sidebar-header::before {
        top: 50px;
    }
    #crash-map-sidebar-header >div {
        height: 48px;
        padding: 12px;
    }
    #crash-map-sidebar-header-main {
        font-size: 0.95em;
    }
    #crash-map-sidebar-header-area {
        font-size: 0.65em;
    }
    .crash-map-sidebar-subheader{
        font-size: 1rem;
    }
    .sidebar-paragraphs{
        font-size: 0.85rem;
    }
    #trend-chart, #severity-chart {
        width: calc(100% - 20px) !important;
    }
}