/* General */
* {
    margin: 0;
    font-size: 16px;
}
#homepage{
    background: rgb(1,25,54);
}


/* Header */
header{
    background: rgb(0, 19, 38);
    padding: 1% 2%;
}
/* @TODO: replace with smaller img */
#header-logo{
    width: 95px;
}


/* Banner */
#banner{
    height: 350px;
    width: 100%;
    filter: blur(3px);
    background: url('https://images.wallpaperscraft.com/image/bridge_traffic_cars_139343_2560x1440.jpg') no-repeat center;
}
#homepage-h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    z-index: 5;
    color: #ecebe4;
    font-size: 3.5rem;
}


/* Content */
#crash-apps-container{
    padding: 3% 2%;
    display: flex;
    justify-content: space-between;
    color: #ecebe4;
}
.crash-app{
    display: flex;
    flex-direction: column;
    border: 2px outset transparent;
    color: #ecebe4;
    padding: 3% 2%;
    text-align: center;
    max-width: 33%;
}
.crash-app-img{
    height: 185px;
    width: 185px;
    border-radius: 50%;
}
.crash-app:hover{
    border-color: rgb(0, 19, 41);
    border-radius: 5px;
    background: rgb(0, 19, 41);
    cursor: pointer;
}

/* Footer */
#homepage footer{
    background: rgb(0, 27, 60);
    color: #ecebe4;
    padding: 4% 2%;
    text-align: center;
}