/* General */

/* #homepage{
    background: rgb(0, 19, 38);
    overflow-x: hidden;
}
.homepage-h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 3% 0;
}
.homepage-h2:before, .homepage-h2:after{
    content: "";
    background: #001326;
    height: 1px;
    margin: 0 1rem;
    flex: 1;
} */


/* Header */
/* header{
    background: rgb(0, 19, 38);
    padding: 1% 2%;
}
#header-logo{
    width: 95px;
} */


/* Banner */
/* #banner{
    height: 420px;
    width: 100%;
    filter: blur(3px);
    background: url('https://images.wallpaperscraft.com/image/bridge_traffic_cars_139343_2560x1440.jpg') no-repeat center;
}
#homepage-header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(2% + 210px);
    z-index: 5;
    color: #ecebe4;
    font-size: 3.5rem;
    text-shadow: 1px 2px 3px rgb(0,19,38);
} */


/* Content */
/* #crash-toolkit-main{
    padding: 2% 5% 5% 5%;
    background: #f7f7f7;
}
#crash-apps-container{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding-bottom: 3%;
}
.crash-app{
    position: relative;
    border: 2px outset transparent;
    color: rgb(0, 19, 41);
    padding: 2.5% 1%;
    text-align: center;
    width: 22%;
    max-width: 300px;
    min-height: 185px;
    background: rgba(0, 19, 38, 0.1);
    cursor: pointer;
}
.crash-app-inactive:hover{
    pointer-events: none;
}
.crash-app-img{
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -87.5px;
    height: 175px;
    width: 175px;
    box-shadow: 1px 2px 3px rgba(0,19,38,0.7);
    border-radius: 50%;
}
.crash-app figcaption{
    position: absolute;
    bottom: 20px;
    width: 90%;
    font-weight: 800;
}
.crash-app small{
    margin-top: 2%;
    font-weight: 300;
}
.crash-app:hover{
    box-shadow: 1px 2px 3px rgba(0,19,38,0.7);
}
.crash-app:hover figcaption{
    text-decoration: underline;
}
.crash-app:hover .crash-app-img{
    box-shadow: 1px 2px 10px rgba(0,19,38,0.8);
} */

/* Safe Streets / TEXT */
/* #safe-streets-container p{
    width: 700px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 1.8rem;
} */


/* Media Queries */
/* @media all and (max-width: 800px) {
    header{
        padding: 2%;
    }
    #header-logo{
        width: 65px;
    }
    #homepage-header{
        font-size: 2.5rem;
        top: calc(2% + 170px);
    }

    #crash-toolkit-main{
        padding: 5% 2%;
    }
    #crash-apps-container{
        padding: calc(10% + 50px) 0 10% 0;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .crash-app{
        width: 70%;
        margin-bottom: 30%;
    }
    .crash-app:last-child{
        margin-bottom: 0;
    }
    .crash-app-img{
        height: 150px;
        width: 150px;
        margin-left: -75px;
    }
    #safe-streets-container p{
        width: 90%;
    }
} */