.print-logo {
    padding: 3px;
}
.print-img {
    display: block;
    width: 400px;
    margin: 2% auto;
    text-align: center;
    background-color: #40757d;
}
#print-map{
    border: 2px solid #40757d;
}
#print-section table{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#print-section p {
    margin: 1% auto;
}
.print-header{
    color: #40757d;
}   