#print-section table{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#print-map{
    display: block;
    width: 400px;
    margin: 3% auto;
    border: 2px solid #437b82;
}
.print-header{
    color: #437b82;
}   